<!-- Event Card -->
<div class="max-w-md w-full lg:flex shadow-md">

  <div
    class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
    style="background-image: url('https://images.unsplash.com/photo-1529119368496-2dfda6ec2804?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80')"
    title="Woman holding a mug"
  ></div>
  <div
    class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <div class="text-grey-darkest font-bold text-3xl mb-2">January Meetup: Pitch Night #1</div>
      <p class="text-md mb-2 text-grey-darkest flex items-center">
        <div class="inline-flex h-3 w-3 mr-1 text-grey">
          <img src="assets/calendar.svg" />
        </div>
        Thursday, Jan. 17th at 6:30 p.m.
      </p>
      <p class="text-md mb-2 text-grey-darkest flex items-center">
        <div class="inline-flex h-3 w-3 mr-1 text-grey">
          <img src="assets/location.svg" />
        </div>
        <a class="text-blue-dark no-underline" href="https://goo.gl/maps/RPSV3ioYeoq"> StarSpace46 </a>
      </p>
      <p class="text-grey-darker text-base mb-2 mt-4">
        We'll be kicking off our first round of 5-minute pitches this week. If you have a great idea for a
        software business, we want to hear it.
      </p>
      <p class="text-grey-darker text-base mb-2">
        <strong>Important:</strong> We only have space for the first 12 people. If you want in, save your spot
        by simply sending us an email stating "I'm in."
      </p>
      <p class="mb-2">
        <a href="mailto:okcindiehackers@gmail.com?subject=Save my spot for the January meetup&body=I'm in." class="font-semibold text-lg text-blue-dark hover:text-blue no-underline"
          >Save your spot →</a
        >
      </p>
    </div>
  </div>
</div>